@font-face{
	font-family: MVideo;
	src: url('fonts/10479.ttf');
	
}
@font-face {
	font-family: WarfaceRegularEnglish;
	src: url('fonts/10138.ttf');
}
@font-face {
	font-family: Segoe UI Light;
	src: url('fonts/10479.ttf');
}
@font-face {
	font-family: DINPro-Regular;
	src: url('fonts/10419.otf');
}
@font-face{
	font-family: Product_Sansi;
	src: url('fonts/10505.ttf');
}	


#font_abbr_logo{
	font-family: 'WarfaceRegularEnglish';
	font-size: 19pt;
	line-height: 1em;
	font-weight: 300;
}	

#font_description{
	font-family: 'Segoe UI Light';
	font-size: 16pt;
	font-weight: 500;
	color: #005F6E;
	line-height: 1.2em;
	padding: 20px 100px;
}

#font_news_header{
	font-family: 'DINPro-Regular';
	font-size: 19.6pt;
	font-weight: 100;
	line-height: 1em;
}

#font_news_text{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	line-height: 1.2em;
	margin-top: 10px;
}


#font_news_time{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	color: #008EA5;
	line-height: 1em;
}

.font_news_time{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	color: #008EA5;
	line-height: 1em;
}

#font_info_itis{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1em;
	 
}

#font_info{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 100;
	color: #FFFFFF;
	line-height: 1.2em;
	 
}

#font_footer{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 100;
	color: #008EA5;
	line-height: 1.2em;
}


#font_abbr_logo_small{
	font-family: 'WarfaceRegularEnglish';
	font-size: 15pt;
	line-height: 1em;
	font-weight: 400;

	width: 400px;
	/* костыль start */
	margin-bottom: -2px;
	/* костыль end */
}	
	

#font_event_time{
	font-family: 'DINPro-Regular';
	font-size: 35pt;
	font-weight: 100;
	color: #005F6E;
	float:left;
	margin-top: -5px;
	margin-right: 10px;
}

.font_event_data{
	font-family: 'DINPro-Regular';
	font-size: 15pt;
	font-weight: 100;
	color: #005F6E;
	margin-top: -10px;
	margin-bottom: 4px;
}

#font_event_header{
	font-family: 'DINPro-Regular';
	font-size: 18.3pt;
	font-weight: 100;
	line-height: 1em;
	float:left;
	padding-right: 20px;
	padding-left: 10px;
	/*margin-bottom: -5px;*/
	/*padding-bottom: 5px;*/
}

.font_events_text{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	line-height: 1.2em;
	padding-right: 30px;
	padding-left: 10px;
}

#font_events_tag{
	font-family: 'Segoe UI Light';
	font-size: 14pt;
	font-weight: 500;
	color: #008EA5;
}

#font_event_author{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 300;
	text-align: right;
}

.font_event_author_time{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	color: #008EA5;
	text-align:right;
	margin-left: 10px;
}

#font_tag_box{
	font-family: 'Segoe UI Light';
	font-size: 14pt;
	font-weight: normal;
	color: #008EA5;
	text-align: center;
}

#font_menu{
	font-family: 'Product_Sansi';
	font-size: 16pt;
	font-weight: normal;
	color: white;
}

#font_menu_username{
	font-family: 'Segoe UI Light';
	font-size: 16pt;
	font-weight: normal;
	color: white;
	margin-left: 8px;
}

#font_event_button{
font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 300;
		color: #005F6E;

}

#font_event_participants{
	font-family: 'DINPro-Regular';
	font-size: 20pt;
	font-weight: normal;
	color: #008EA5;
	margin-top: 3px;	
}

.font_group_participants{
	font-family: 'DINPro-Regular';
	font-size: 16pt;
	font-weight: normal;
	color: #008EA5;
}