@font-face{
	font-family: MVideo;
	src: url('fonts/10479.ttf');
	
}
@font-face {
	font-family: WarfaceRegularEnglish;
	src: url('fonts/10138.ttf');
}
@font-face {
	font-family: Segoe UI Light;
	src: url('fonts/10479.ttf');
}
@font-face {
	font-family: DINPro-Regular;
	src: url('fonts/10419.otf');
}
@font-face{
	font-family: Product Sansi;
	src: url('fonts/10505.ttf');
}	


#font_abbr_logo{
	font-family: 'WarfaceRegularEnglish';
	font-size: 19pt;
	line-height: 1em;
	font-weight: 300;
}	

#font_description{
	font-family: 'Segoe UI Light';
	font-size: 16pt;
	font-weight: 500;
	color: #005F6E;
	line-height: 1.2em;
	padding: 20px 100px;
}

#font_news_header{
	font-family: 'DINPro-Regular';
	font-size: 19.6pt;
	font-weight: 100;
	line-height: 1em;
}

#font_news_text{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	line-height: 1.2em;
}


#font_news_time{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	color: #008EA5;
	line-height: 1em;
}

#font_news_time{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	color: #008EA5;
	line-height: 1em;
}

#font_info_itis{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1em;
	 
}

#font_info{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 100;
	color: #FFFFFF;
	line-height: 1.2em;
	 
}

#font_footer{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 100;
	color: #008EA5;
	line-height: 1.2em;
}


#font_abbr_logo_small{
	font-family: 'WarfaceRegularEnglish';
	font-size: 15pt;
	line-height: 1em;
	font-weight: 400;
	width: 400px;
	/* костыль start */
	margin-bottom: -2px;
	/* костыль end */
}

#font_event_time{
	font-family: 'DINPro-Regular';
	font-size: 35pt;
	font-weight: 100;
	color: #005F6E;
	float:left;
 			margin: -26px 5px 0px 5px; /* Отступы */


}

#font_event_data{
	font-family: 'DINPro-Regular';
	font-size: 15pt;
	font-weight: 100;
	color: #005F6E;
 	margin-top: -13px; /* Отступы */
 	margin-bottom: 0px;
}

#font_event_header{
	font-family: 'DINPro-Regular';
	font-size: 18.3pt;
	font-weight: 100;
	line-height: 1em;
	float:left;
	margin-right:  10px; /* Отступы */
	margin-bottom: -10px;
	margin-top: 5px;
	margin-left: 10px;

}

#font_events_text{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	line-height: 1.2em;
	margin-top: -10px;
	margin-left:  15px;

}

#font_events_tag{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 500;
	color: #005F6E;
	margin-right:  10px; /* Отступы */
	margin-bottom: -15px;
	margin-top: 10px;
	margin-left: 10px;

}

#event_author{
	font-family: 'Segoe UI Light';
	font-size: 13pt;
	font-weight: 300;
	/*float: left;*/
	text-align: right;
}

#font_event_author_time{
	font-family: 'Segoe UI Light';
	font-size: 13.3pt;
	font-weight: 100;
	color: #008EA5;
	text-align:right;
}