body{
	background-image: url(../imgs/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

/*.col-md-3, .col-md-4, .col-md-6, .col-md-12{
	margin: 0px;
	padding: 0px;
}
*/
.container{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	/*background-color: #E6FEFF;*/
	max-width: 980px;
	padding: 0px;
	box-sizing: border-box;
}

.row{
	margin-bottom: 15px;
	max-width: 980px;
}

.my_form_rules{
	height: 32px;
}

#flexbox_footer_style{
	display: flex;
	justify-content: space-between;
}

#logo{
	height: 155px;
	margin-top: 100px;
}

#abbr_logo{
	/*height: 45px;*/
	margin-bottom: 25px;
	width: 550px;
}

#description{
	height: 160px;
	background-color: #CCF2F8;
	display: flex;
	align-items: center;
}

.news{
	display: flex;
	justify-content: space-between;
}

#info{
	height: 130px;
	background-color: #14B6CB;
	box-sizing: border-box;
	padding: 10px;
}



#footer{
	height: 72px;
}

hr{
	height: 2px;
	background-color: #CCF2F8;
}

.news_block{
	background-color: white;
	width: 312px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}




#info_small{
	height: 80px;
	background-color: #14B6CB;
	box-sizing: border-box;
	padding: 10px;
}

.menu{

	height: 40px;
	background-color: #14B6CB;
	box-sizing: border-box;
	padding: 10px;
}

.tags{
	background-color: #66D7EA;
	width: 154px;
	height: 154px;
	padding: 10px;
}

.events{
	display: flex;
}
.event_block{
	background-color: white;
	width: 800px;
	height: 270px;
	float:right;
	padding: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}