/* main style */
body{
	background-image: url(../imgs/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.container{
	margin-top: 20px;
	margin-bottom: 50px;
	width: 980px;
	padding: 0px;
}

.col-md-12, .col-md-8, .col-md-6, .col-md-4, .col-md-3{
	padding-left: 0px;
	padding-right: 0px;
}

.row{
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
}

button{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

hr{
	height: 2px;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #008EA5;
}

a{
	color: inherit!important;
	text-decoration: none!important;
}

a:hover, a:visited, a:focus{
	text-decoration: none!important;
	color: inherit!important;
}

.well{
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: 0px;
	box-shadow: none;
}

.hood{
	padding-right: 6px;
	padding-top: 6px;
	padding-left: 8px;
}

.white_background_color{
	background-color: white;
}

.blue_background_rgba_color{
	background-color: rgba(102,215,234,0.4)!important;
}

.dark_blue_background_color{
	background-color: #008EA5!important;
}

.dark_blue_color{
	color: #008EA5!important;
}

.light_blue_color{
	color: #14B6CB!important;
}

.mini_button{
	min-width: 124px;
	height: 30px;
	background-color: #14B6CB;
}

.input_block{
	width: 286px;
	height: 30px;
}

.main_block_with_flexbox{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.flexbox_aling_center{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex_row{
	display: flex;
	flex-direction: row;
}

.flex_column{
	display: flex;
	flex-direction: column;
}

.flex_align_start{
	align-items: flex-start;
}

.flex_justify_end{
	display: flex;
	justify-content: flex-end;
}

.flex_justify_space_between{
	display: flex;
	justify-content: space-between;
}

.border_radius_none{
	border-radius: 0px!important;
}

.shadow_none{
	box-shadow: none!important;
}

.shadow{
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
/*main style end*/

/* form style start*/
.form-inline{
	display: flex;
	justify-content: flex-end;
}

.my_form_rules{
	height: 32px;
}

.form-inline > .form-group > input{
	height: auto;
	max-height: 33px;
	border: 1px solid #69e6f2;
	border-radius: 0;
	box-shadow: inset 0 0 3px 0 #c3c3c3;
}

.form-inline > input{
	height: auto;
	max-height: 25px;
}

.form-group > a{
	margin-left: -65px;
	margin-right: 5px;
}

#sign-button{
	margin-right: 5px;
}
/* form style end*/

/*logo style start*/
#logo{
	height: 155px;
	margin-top: 60px;
}

#logo > .col-md-12 > img{
	width: 100%;
	max-width: 500px;
	height: 100%;
}
/*logo style end*/

/*abbr_logo style start*/
#abbr_logo{
	margin-bottom: 25px;
	width: 550px;
}
/*abbr_logo style end*/

/*description style start*/
#description{
	height: 160px;
	background-color: #CCF2F8;
	display: flex;
	align-items: center;
}
/*description style end*/

/* news style start*/
.news_block{
	background-color: white;
	width: 312px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.news_img{
	margin: -20px;
	width: 312px;
	margin-bottom: 10px;
}

.news_margin{
	margin-bottom: 20px;
}

.news_time{
	margin-left: 10px;
}
/* news style end*/

/*info style start */
#info{
	/*height: 130px;*/
	background-color: #14B6CB;
	box-sizing: border-box;
	padding: 15px;
	margin-bottom: 0px;
	color: white;
	display: flex;
	justify-content: start;
}

#info-logo{
	margin-right: 15px;
	margin-left: 5px;
	width: 105px;
	height: auto;
	max-height: 105px;
}

p[id=font_info]{
	margin-bottom: 0px;
}

p[id=font_info_itis]{
	margin-bottom: 5px;
}
/*info style end*/

/* footer style start*/
#footer_hr{
	margin-top: 16px;
}

.footer_link{
	margin-left: 10px;
}

#footer_margin{
	margin: 10px;
}
/* footer style end*/

/* menu start */
#menu{
	height: 40px;
	background-color: #14B6CB;
	box-sizing: border-box;
	padding: 5px 0 0 10px;
	color: white;
}

.menu_link{
	margin-right: 10px;
}

#message_circle{
	height: 26px;
	border-radius: 20px;
	background-color: #FF6485;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}
/* menu end */

/* logo and abbr start */
#logo_and_abbr{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#mini_logo{
	margin-right: 30px;
	height: 63px;
}
/* logo and abbr end*/

/* aside start */
aside{
	width: 214px;
	height: auto;
	padding: 15px;
}

.aside_personal_area_main_block{
	width: 240px!important;
	padding: 0px!important;
	background-color: none!important;
}

.aside_personal_area_img{
	width: 40px;
	height: 40px;
	background-color: #14B6CB;
	margin-right: 10px;
	padding: 4px 6px 4px 6px;
}
/* aside end */

/* events style start */
.event_block{
	background-color: white;
	width: 750px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}

.event_block_images{
	margin: -10px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	padding-top: 20px;
	padding: 20px 2px 2px 2px;
}

.event_img{
	width: 33%;
}

.event_button{
	height: 46px;
	width: 204px;
	background-color: #CCF2F8;
}

#event_header{
	align-items: baseline;
	margin-bottom: -5px;
}

.event_participants_img{
	width: 16px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 5px;
}

.event_participants_margin{
	margin-top: 5px;
}

.show_more_block{
	background-color: #CCF2F8;
	width: 750px;
	/*height: 270px;*/
	text-align: center;
	padding: 2px;
	margin-bottom: 20px;
}

.show_more_block a{
  display: block;
  height: 100%;
  width:100%;
}
/* events style end */

/* groups style start */
.group_block{
	width: 980px;
}

.group_button{
	margin-top: 5px;
}

.group_img{
	width: 210px;
	margin: -10px;
	margin-right: 10px;
}

.group_participants_img{
	width: 14px;
	height: 16px;
	margin-top: 8px;
	margin-right: 5px;
	margin-left: 5px;
}

.group_text{
	margin-top: 10px;
	margin-right: 100px;
	height: 84px;
}

#one_group_direction{
	background-color: #CCF2F8;
	min-height: 150px;
}

#one_group_header{
	height: 62px;
	background-color: white;
	padding: 10px;
	z-index: 2;
}

#one_group_header_img{
	height: 150px;
	background-color: #CCF2F8;
}

.one_group_header_button{
	height: 40px;
	margin-left: 20px;
	background-color: #14B6CB;
	color: white!important;
}

.one_group_right_block{
	padding: 10px;
	background-color: white;
	width: 215px;
	margin-top: 15px;
	margin-bottom:15px;
}

.one_group_doc_min_block{
	background-color: #CCF2F8;
	padding: 5px;
	margin-top: 10px;
}

.one_group_participant_img{
	padding-right: 10px;
	min-height: 50px;
}

.one_group_participant_info_block{
	padding-top: 10px;
}
/* groups style end */

/* checkbox start */
input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
}

input[type=checkbox]{
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox] + label {
	padding-left: 25px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 20px;
	/*vertical-align: center;*/
	cursor: pointer;
}

input[type=checkbox]:checked + label {
	background-position: 0 -20px;
}

label.checkbox-label{
	background-image:url(../imgs/chb.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* checkbox end */

/* personal area start */
.personal_area_min_block{
	background-color: white;
	width: 350px;
	height: 100px;
	margin-top: 20px;
}

.personal_area_block{
	width: 720px;
}

.personal_area_min_block_img{
	height: 100px;
	min-width: 100px;
}
/* personal area end */


/* indents and sizes start */
.padding_top5px{
	padding-top: 5px;
}

.padding5px{
	padding: 5px;
}

.padding10px{
	padding: 10px;
}

.padding_bottom20px{
	padding-bottom: 20px;
}

.margin_top20px{
	margin-top: 20px;
}

.margin_left10px{
	margin-left: 10px;
}

.margin_left5px{
	margin-left: 5px;
}

.margin_bottom20px{
	margin-bottom: 20px;
}

.margin_bottom5px{
	margin-bottom: 5px;
}

.block_width20{
	width: 20%;
}

.block_width100{
	width: 100%;
}
/* indents and sizes end */

/* remember passsword start */
#remember_password{
	position: relative;
	top: 2px;
	right: 5px;
}

.text_overflow{
	overflow: hidden;
}

.modal_input_block{
	width: 100%;
	height: 30px;
	  border: 1px solid #99E5F1;
	  margin-bottom: 30px;

}

.modal_—Åonfirm_button{
	display: inline-flex;
	min-width: 137px;
	height: 40px;
	background-color: #14B6CB;
}
/* remember passsword start */